*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.navigasyon-bar{
  display: flex;
  background-color: navy;
  height: 150px;
  align-items: center;

}
.navigasyon{
  display: flex;
  justify-content: space-around;

width: 100vw;
}
.navigasyon-link{
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.navigasyon-link ul{
  display: flex;
  gap: 50px;
}

.navigasyon-link a{
  color: wheat;
  font-weight: 650;
  text-decoration: none;
  font-size: medium;
}

.navigasyon-link a:hover{
  color: red;
}

.logo{
  display: flex;

}
.logo-h img{
  width: 200px;
  height: 160px;
}